@import url("https://cdn.jsdelivr.net/npm/victormono@latest/dist/index.min.css");
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.highlight .kn {
  color: rgb(168, 93, 238);
}

.highlight .s {
  color: rgb(80, 247, 80);
}

.highlight .s1 {
  color: rgb(80, 247, 80);
}

.highlight .s2 {
  color: rgb(80, 247, 80);
}

.highlight .nx {
  color: rgb(245, 243, 106);
}

.highlight .kt {
  color: rgb(250, 65, 65);
}

.highlight .nc {
  color: rgb(65, 130, 250);
}

.highlight .mi {
  color: rgb(250, 164, 65);
}

.highlight .c {
  color: rgb(153, 153, 153);
}

.highlight .c1 {
  color: rgb(153, 153, 153);
}

.highlight .p {
  color: rgb(215, 215, 215);
}

.highlight .kc {
  color: rgb(105, 215, 230);
}

.highlight .n {
  color: rgb(250, 85, 210);
}

.md-typeset table:not([class]) th {
  color: var(--md-accent-bg-color);
  background-color: var(--md-accent-fg-color);
  font-size: 1.3em;
}

.md-typeset table:not([class]) tr:first-child td {
  color: var(--md-default-fg-color--light);
  background-color: var(--md-default-bg-color--lightest);
  font-size: 1.3em;
}

.md-source__fact::before {
  content: "·";
}

pre {
  font-size: 1.1em;
}

.md-typeset .tabbed-set label {
  font-size: .9em;
}

.md-typeset h2 code {
  background-color: var(--md-code-bg-color);
}

.md-typeset h3 code {
  background-color: var(--md-code-bg-color);
}

.md-typeset h1 {
  font-size: 2.5em;
}

.md-typeset h2 {
  font-size: 1.75em;
}

.md-typeset h3 {
  font-size: 1.4em;
}

.md-typeset p {
  font-size: 1.1em;
}

.md-nav--primary .md-nav__title {
  color: var(--md-default-bg-color);
}

.input_div {
  display: flex;
  flex-wrap: wrap;
}

.input_label {
  font-weight: bold;
  font-size: .65rem;
  color: var(--md-accent-fg-color);
  border-color: var(--md-accent-fg-color);
  padding: .6rem 1.25em .5rem;
  z-index: 1;
  border-bottom: .1rem solid;
}

#codeblock {
  width: 100%;
  margin: 0px;
  padding: .6rem 0;
  background: var(--md-code-bg-color);
  font-size: .9em;
  box-shadow: 0 -0.05rem var(--md-default-fg-color--lightest);
}

:root > * {
  /* Default color shades */
  --md-default-fg-color:               rgb(255, 255, 255);
  --md-default-fg-color--light:        rgb(215, 215, 215);
  --md-default-fg-color--lighter:      rgb(240, 240, 240);
  --md-default-fg-color--lightest:     rgb(255, 255, 255);
  --md-default-bg-color:               rgb(35, 35, 35);
  --md-default-bg-color--light:        rgb(40, 40, 40);
  --md-default-bg-color--lighter:      rgb(50, 50, 50);
  --md-default-bg-color--lightest:     rgb(60, 60, 60);

  /* Code block color shades */
  --md-code-bg-color:                  rgb(20, 20, 20);
  --md-code-fg-color:                  rgb(255, 255, 255);
}
